name: articraft CI/CD

on:
    push:
        branches: [ "main", "master" ]
    pull_request:
        branches: [ "main", "master" ]

jobs:
    test: 
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.11'

        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

        - name: Run Tests
          run: 
            python manage.py test

    docker-build:
        runs-on: ubuntu-latest
        needs: test
        steps:
        - uses: actions/checkout@v4

        - name: login to docker hub
          uses: docker/login-action@v3
          with: 
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Build and Push Docker image
          run: |
            docker build . -t ${{ secrets.DOCKERHUB_USERNAME }}/articraft:latest
            docker push ${{ secrets.DOCKERHUB_USERNAME }}/articraft:latest

    deploy:
      runs-on: ubuntu-latest
      needs: docker-build
      if: github.ref == 'refs/heads/main'
      steps:
      - name: deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{secrets.EC2_HOST}}
          username: ${{secrets.EC2_USER}}
          key: ${{secrets.EC2_SSH_KEY}}
          script: |
            #intall docker here in EC2 instance to run docker compose command
            git clone https://github.com/grvlevi76/articraft-django || true
            cd articraft-django/
            git pull https://github.com/grvlevi76/articraft-django || true 
            docker-compose up -d --build 
            


